page-turma {
  .toolbar-background {
    background-color: #283593;
  }

  icon {
    background-color: #ffffff;
  }

  ion-header {
    background-color: #283593;
  }

  .text-nav {
    color: #ffffff;
  }
}
