page-alunos {
  //.toolbar-background {
  //  background-color: #51a7e8;
  //}

  .text-nav {
    color: #ffffff;
  }

  .white {
    //background-color: #ffffff;
    color: #ffffff;
  }

  ion-icon {
    color: #ffffff;
  }
}
